body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  color: #00B7FF;
}

.messagebox {
  border: 1px black solid;
  width: 40%;
  padding: 15px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.username {
  font-size: 120%;
  font-weight: 600;
  margin-bottom: 10px;
}

.messagebox-message{
  
}